<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
		<div class="center sliding">店铺订单</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="trade.list" class="page no-tabbar">
		<!-- Scrollable page content-->
		<div class="page-content">
			#if($!{tradeList} && $!{tradeList.size()} > 0)
			#foreach($trade in $!{tradeList})
			<div class="list-block media-list" style="font-size: 14px;">
				<ul>
					<li>
						<div class="item-content">
							<div class="item-inner" style="display: inherit;">
								<div class="item-title" style="font-weight: 400;">
									供应商：$!{trade.supName}
									<div style="font-size: 13px; color: #8e8e93;">订单编号：$!{trade.tradeNo}</div>
								</div>
								<div class="item-after"></div>
							</div>
						</div>
					</li>
					<li>
						<a href="$!{env.appUrl}/trade/detail.htm?shopId=$!{trade.shopId}&tradeNo=$!{trade.tradeNo}" class="item-content" style="color: inherit;">
							#set($order = $!{trade.orderList.get(0)})
							<div class="item-media" style="padding-top: 7px; padding-bottom: 8px;">
								<img data-src="$!{order.itemFilePath}" class="lazy" style="width: 50px; height: 50px;"></img>
							</div>
							<div class="item-inner">
								<div class="item-title-row" style="margin-top: 3px;">
									<div class="item-title" style="font-weight: 400;">$!{order.itemName}</div>
									<div class="item-after">￥$!formatUtil.getAmountFormat($!{order.price})</div>
								</div>
								<div class="item-title-row" style="margin-top: 3px;">
									<div class="item-subtitle" style="font-size: 12px; color: #8e8e93;">$!{order.propertiesName}</div>
									<div class="item-after">×$!{order.quantity}</div>
								</div>
							</div>
                        </a>
					</li>
					<li>
						<a href="$!{env.appUrl}/trade/detail.htm?shopId=$!{trade.shopId}&tradeNo=$!{trade.tradeNo}" class="item-link item-content" style="min-height: 0;">
							<div class="item-inner" style="display: inherit; min-height: 0; text-align: center; padding-top: 7px; padding-bottom: 6px;">
								<div class="item-title" style="font-weight: 400; font-size: 13px; width: 100%;">
									查看全部$!{trade.orderList.size()}件商品
								</div>
							</div>
						</a>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner" style="display: inherit;">
                                <div class="item-title" style="font-weight: 400;">总价：<span style="color: #FF5500;">￥$!formatUtil.getAmountFormat($!{trade.price})</span></div>
								<div class="item-after"></div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			#end
			#else
			<div class="empty-list">
				<div class="empty-list-header">
					<h4>没有采购数据</h4>
					<span></span>
				</div>
				<div class="empty-list-content">
				</div>
			</div>
			#end
		</div>
    </div>
</div>