<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
		<div class="center sliding">我的订单</div>
		<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class-->
		</div>
	</div>
</div>
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="trade.shop" class="page no-tabbar">
		<!-- Scrollable page content-->
		<div class="page-content">
			<div class="list-block accordion-list" style="font-size: 14px;">
				#foreach($trade in $!{tradeList})
				<ul class="after-height-0">
					<li>
						<a href="$!{env.appUrl}/trade/list.htm?type=tosend&shopId=$!{trade.shopId}" class="item-content item-link" data-ignore-cache="true">
							<div class="item-media"><i class="iconfont icon-goods"></i></div>
							<div class="item-inner">
								<div class="item-title">$!{trade.shopName}</div>
								<div class="item-after">订单：$!{trade.amount}；金额：$!{trade.tradePrice}</div>
							</div>
						</a>
					</li>
                </ul>
				#end
            </div>
        </div>
    </div>
</div>