<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>好社惠</title>
		#ICON()
		#CSSM(["framework7", "iconfont"])
		<link rel="stylesheet" href="$!{env.imgUrl}/css/portal/home.css" />
		<link rel="stylesheet" href="$!{env.imgUrl}/css/portal/tile.css" />
		#UA()
	</head>
	<body>
		<!-- Views -->
		<div class="views">
			<!-- Your main view, should have "view-main" class -->
			<div class="view view-main" data-page="portal.home">
				<!-- Top Navbar-->
				<div class="navbar" style="background: #ff5500;">
					<div class="navbar-inner">
						<!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
						<div class="center sliding" style="color: white;">好社惠－数据中心</div>
					</div>
				</div>
				<!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
				<div class="pages navbar-through toolbar-through">
					<!-- Page, "data-page" contains page name -->
					<div data-page="portal.home" class="page">
						<!-- Scrollable page content -->
						<div class="page-content">
							<section class="content">
								<div class="row no-gutter">
									<div class="col-50" style="padding-right: 5px;">
										<div class="small-box" style="background-color: #5BC39D; color: #FFFFFF;">
											<div class="inner">
												<h3>销售</h3>
												<p>今天：0.00<br/>本月：0.00</p>
											</div>
											<div class="icon">
												<i class="icon iconfont icon-rank"></i>
											</div>
											<a href="#" class="small-box-footer">&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
									<div class="col-50" style="padding-left: 5px;">
										<div class="small-box" style="background-color: #F2784B; color: #FFFFFF;">
											<div class="inner">
												<h3>收入</h3>
												<p>今天：0.00<br/>本月：0.00</p>
											</div>
											<div class="icon">
												<i class="icon iconfont icon-recharge"></i>
											</div>
											<a href="#" class="small-box-footer">&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
									<div class="col-50" style="padding-right: 5px;">
										<div class="small-box" style="background-color: #B68FCC; color: #FFFFFF;">
											<div class="inner">
												<h3>库存</h3>
												<p>金额：0.00<br/>&nbsp;</p>
											</div>
											<div class="icon">
												<i class="icon iconfont icon-cascades"></i>
											</div>
											<a href="#" class="small-box-footer">&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
									<div class="col-50" style="padding-left: 5px;">
										<div class="small-box" style="background-color: #59ABE3; color: #FFFFFF;">
											<div class="inner">
												<h3>采购</h3>
												<p>金额：0.00<br/>数量：0</p>
											</div>
											<div class="icon">
												<i class="icon iconfont icon-cart"></i>
											</div>
											<a href="#" class="small-box-footer">&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
									<div class="col-50" style="padding-right: 5px;">
										<div class="small-box" style="background-color: #70A9B7; color: #FFFFFF;">
											<div class="inner">
												<h3>便民亭</h3>
												<p>新开：0<br/>总计：0</p>
											</div>
											<div class="icon">
												<i class="icon iconfont icon-shop"></i>
											</div>
											<a href="#" class="small-box-footer">&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
									<div class="col-50" style="padding-left: 5px;">
										<div class="small-box" style="background-color: #B9C14D; color: #FFFFFF;">
											<div class="inner">
												<h3>资金</h3>
												<p>保证金：0.00<br/>金额：0.00</p>
											</div>
											<div class="icon">
												<i class="icon iconfont icon-sponsor"></i>
											</div>
											<a href="#" class="small-box-footer">&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>
                            </section>
						</div>
                    </div>
                </div>
            </div>
        </div>
		
		#JSM(["framework7"])
		#JS_ENV_VAL()
		<script src="$!{env.imgUrl}/js/portal/home.js"></script>
	</body>
</html>