<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="shopAction" class="com.hsh24.admin.shop.action.ShopAction" parent="baseAction" scope="request">
		<property name="shopService" ref="shopService" />
	</bean>
	
	<bean id="shopService" class="com.hsh24.admin.shop.service.impl.ShopServiceImpl">
		<property name="memcachedCacheService" ref="memcachedCacheService" />
		<property name="userService" ref="userService" />
		<property name="shopDao" ref="shopDao" />
	</bean>
	
	<bean id="shopDao" class="com.hsh24.admin.shop.dao.impl.ShopDaoImpl" parent="baseDao" />
	
</beans>